@model RegisterVM

<h3 class="h1 text-center my-4">Register</h3>
<hr />


<form method="post" asp-action="Register" asp-controller="Account">
    <div class="row">

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="col-md-8">
            <div class="mb-3 row">
                <label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="FirstName" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="LastName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="LastName" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="UserName"/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" type="email" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="Password" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" type="password" asp-for="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="RePassword" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" type="password" asp-for="RePassword" />
                    <span asp-validation-for="RePassword" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success">register</button>
                </div>
            </div>
        </div>

    </div>
</form>