@model ResetPasswordVM

<h3 class="h1 text-center my-4">Reset Password</h3>
<hr />

<form method="post" asp-action="ResetPassword" asp-controller="Account">
    <div class="row">

        <div asp-validation-summary="All" class="text-danger"></div>

        <input type="hidden" asp-for="Token"/>

        <div class="mb-3 row">
            <label asp-for="Email" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input class="form-control" type="email" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label asp-for="Password" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input class="form-control" type="password" asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label asp-for="Repassword" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input class="form-control" type="password" asp-for="Repassword" />
                <span asp-validation-for="Repassword" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>

</form>





