@model ListProductsVM


@section Jumbotron
{
    @await Html.PartialAsync("PartialViews/_JumbotronPartial");
}


<div class="row">

    <div class="col-md-3">
        @await Component.InvokeAsync("Categories")
        @await Html.PartialAsync("PartialViews/_SearchPartial")
    </div>

    <div class="col-md-9">
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <div class="col-md-4">
                    @* <partial name="_ProductPartial" model="product"></partial> *@
                    @await Html.PartialAsync("PartialViews/_ProductPartial", product)
                </div>
            }
        </div>
    </div>

</div>


