@model ProductListVM

@section Jumbotron{
    @await Html.PartialAsync("_Jumbotron");
}


@if (Model.Products.Count == 0)
{
    @await Html.PartialAsync("_NoproductPartial")
}
else
{
    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-3">
                @* <partial name="_ProductPartial" model="product"></partial> *@
                @await Html.PartialAsync("_ProductPartial", product)
            </div>
        }
    </div>
}
