
<div class="navbar bg-danger navbar-dark navbar-expand-sm">
    <div class="container">

        <a href="/" class="navbar-brand">ShopApp</a>

        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a href="/products" class="nav-link">Products</a>
            </li>

            <li class="nav-item">
                <a class="nav-link">Cart</a>
            </li>

            <li class="nav-item">
                <a class="nav-link">Orders</a>
            </li>

            <li class="nav-item">
                <a href="/admin/products" class="nav-link">Admin Products</a>
            </li>

            <li class="nav-item">
                <a asp-action="ListCategories" asp-controller="admin" class="nav-link">Admin Categories</a>
            </li>

        </ul>

    </div>
</div>