@model Product

<form method="post" class="" style="margin-top:6vh;">

    <div asp-validation-summary="All" class="text-danger">
    </div>

    <div class="form-group">
        <label for="Name">Product Name</label>
        <input asp-for="Name" type="text" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Price">Price</label>
        <input asp-for="Price" type="text" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Description">Description</label>
        <textarea asp-for="Description" type="text" class="form-control" rows="3"> </textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>ImageUrl</label>
        <input asp-for="ImageUrl" type="text" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="CategoryId">Category</label>

        <select asp-for="CategoryId" asp-items="@ViewBag.Categories" type="text" class="form-control">
            <option selected disabled>Please, Select a Category </option>
        </select>

        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
</form>