@model ProductCategoriesVM


@{
    var popularClass = Model.Products.Count > 2 ? "popular" : "";
    var products = Model.Products;
}



@section Categories{
    @await Component.InvokeAsync("Categories")
}


@if (products.Count == 0)
{
    <partial name="_NoProduct"></partial>
}
else
{
    <div class="row d-flex justify-content-center gap-3">
        @foreach (var product in products)
        {
            <div class="col-md-3 px-0">
                <partial name="_Product" model="product"></partial>
            </div>
        }
    </div>
}

