
<div class="navbar bg-danger navbar-dark navbar-expand-sm">
    <div class="container">

        <a href="/" class="navbar-brand">ShopApp</a>

        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a href="/products" class="nav-link">Products</a>
            </li>

            <li class="nav-item">
                <a class="nav-link">Cart</a>
            </li>

            <li class="nav-item">
                <a class="nav-link">Orders</a>
            </li>

            <li class="nav-item">
                <a asp-action="AddProduct" asp-controller="admin" class="nav-link">Add Product</a>
            </li>

            <li class="nav-item">
                <a asp-action="ProductList" asp-controller="admin" class="nav-link">Admin Products</a>
            </li>
        </ul>

        <form asp-action="List" asp-controller="Product" method="post" class="form-inline">
            <input name="queryString" type="text" class="form-control" placeholder="Search" />
            <button type="submit" class="btn btn-outline-light mr-0 ml-1">Search</button>
        </form>

    </div>
</div>