@model OrderVM

<h1>Checkout</h1>
<hr>
<div class="row">
    <div class="col-md-8">
        <h4 class="mb-3">Sipariş Detayı</h4>
        <form method="POST" asp-controller="Cart" asp-action="Checkout">
            <input type="hidden" name="cartId" value="0">
            <input type="hidden" asp-for="CartModel.CartItems"/>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control">
                </div>
                <div class="col-md-6">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control">
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="Address"></label>
                <textarea asp-for="Address" class="form-control"></textarea>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label asp-for="City"></label>
                    <input asp-for="City" class="form-control">
                </div>
                <div class="col-md-4">
                    <label asp-for="Phone"></label>
                    <input asp-for="Phone" class="form-control">
                </div>
                <div class="col-md-4">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control">
                </div>
            </div>

            <h4 class="mb-3 mt-5">Ödeme Bilgileri</h4>
            <hr class="mb-3">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="CardName"></label>
                    <input asp-for="CardName" class="form-control">
                </div>
                <div class="col-md-6">
                    <label asp-for="CardNumber"></label>
                    <input asp-for="CardNumber" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label asp-for="ExpirationMonth"></label>
                    <input asp-for="ExpirationMonth" class="form-control">
                </div>
                <div class="col-md-4">
                    <label asp-for="ExpirationYear"></label>
                    <input asp-for="ExpirationYear" class="form-control">
                </div>
                <div class="col-md-4">
                    <label asp-for="Cv"></label>
                    <input asp-for="Cv" class="form-control">
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>

           
        </form>
    </div>

    <div class="col-md-4">
        <h4 class="mb-3">
            <span>Özet Bilgiler</span>
        </h4>
        <ul class="list-group mb-3">

            @foreach (var item in Model.CartModel.CartItems)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <h6>@item.Name</h6>
                    </div>
                    <span class="text-muted">@item.Price.ToString("c")</span>
                </li>
            }

            <li class="list-group-item d-flex justify-content-between">
                <span>Toplam (TL)</span>
                <strong>@Model.CartModel.TotalPrice().ToString("c")</strong>
            </li>
        </ul>

    </div>
    
</div>