@model List<Category>

<div class="list-group">

    <a asp-action="List" asp-controller="Shop" asp-route-category="" class="list-group-item list-group-item-action">Tüm Kategoriler</a>

    @foreach (var category in Model)
    {
        <a asp-action="List" asp-controller="Shop" asp-route-category="@category.Name"
           class="list-group-item list-group-item-action 
           @(ViewBag.SelectedCategory == category.Name.ToString()? "active":"")">
        @category.Name
        </a>
    }
</div>  
